/spotify/(old)Polubione utwory.json
/spotify/.cache
/spotify/client_secret_116384964688-h207875110t33gtbgu6rb6orgc39frch.apps.googleusercontent.com.json
/spotify/FIFA 12 Soundtrack
/spotify/FIFA 12 Soundtrack.json
/spotify/headers_auth.json
/spotify/INDIE NIGHT.json
/spotify/neon.json
/spotify/neon2.json
/spotify/TECHNO TECHNO TECHNOOO.json
/spotify/tracks.json
/spotify/main.py
/spotify/venv/pyvenv.cfg
/spotify/venv/example.py
/spotify/venv/client_secret.json
